[submodule "stack_pointers_exercise"]
	path = stack_pointers_exercise
	url = https://github.com/lyangmdrs/stack_pointers_exercise
[submodule "peripheral_interrupt_exercise"]
	path = peripheral_interrupt_exercise
	url = https://github.com/lyangmdrs/peripheral_interrupt_exercise
[submodule "interrupt_priority_exercise"]
	path = interrupt_priority_exercise
	url = https://github.com/lyangmdrs/interrupt_priority_exercise
[submodule "extracting_SVC_number_exercise"]
	path = extracting_SVC_number_exercise
	url = https://github.com/lyangmdrs/extracting_SVC_number_exercise
[submodule "SVC_math_operations_exercise"]
	path = SVC_math_operations_exercise
	url = https://github.com/lyangmdrs/SVC_math_operations_exercise
